body
{
    background-color:bisque;
    color:black; /*color de letra*/
};

h1,h2{
    color:brown;
    text-decoration: underline;
}

p{
    color:darkgreen;
}

.instructor{
    color:black;
}

#piePagina{
    color:brown;
} /*este es un identificador*/

nav ul li{
    color:aquamarine;
}